@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './components/colors.css';
@import './components/container.css';
@import './base.css';
@import './components/Forms.css';
@import './Base/typography.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}