*{
    color: black;
}

h1, h2, h3 {
    color: black;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

p{
    font-size: 0.9rem;
    color: black;
    text-align: start;
    line-height: 1.5;
}

li{
    list-style: none;
    width: 100%;
    text-align: left;
}