:root {
    --primary-color : #2F80ED;
    --columbia-blue: #b9d6f2ff;
    --glaucous: #607899ff;
    --oxford-blue: #061a40ff;
    --polynesian-blue: #1b4d97ff;
    --azure: #2f80edff;
    --lapis-lazuli: #185ba3ff;
    --prussian-blue: #003559ff;
}